Connected Services/ConversionServiceReference/ConversionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/currency_to_word_conversion.service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/currency_to_word_conversion.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationFault" nillable="true" type="tns:ValidationFault" />
  <xs:complexType name="UnexpectedServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnexpectedServiceFault" nillable="true" type="tns:UnexpectedServiceFault" />
</xs:schema>